.container-animais{
    background-color: #f2f2f2;
    position: sticky;
    top: 17%;
    
    
}
.lista-item{
    margin: 0px;
    display: flex;
    overflow: scroll;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    list-style: none;
    font-size: 10px;
    background-color: #fff;
    margin: 0.5em 1em;
    border-radius: 30px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);


}