.cabecalho{
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 1em;
    

}

.cabecalho img{
    width: 70px;
    height: 70px;
}
.logo{
    display: flex;
    justify-content: left;
    margin : 0px 0px;
    
}

