.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(171, 164, 255);
    position: sticky;
    top: 0%;
  
}
.logo{
    margin: 1em 2em;
    width: 7%;
    height: 5%;
    transform:rotate(45deg);
}

.menu-lista{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 2em;
}

.menu-lista-item{
    padding: 0.5em;
    list-style: none;
    font-weight: 700;
    border-bottom: 1px solid #000;
    margin: 1em;
    cursor: pointer;
}

.menu-lista-item:hover{
    transition: 0.3s;
    background-color: #f3f3f37a;
    border: solid 1px #000;
}