.banner{
    display: flex;
    text-align: Center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;  

}

.img-banner{
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}